/***
BODY
&
WRAPPER MAIN
***/

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

#main {
    display: grid;
    justify-items: center;
    overflow: hidden;
    row-gap: 20px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". header ." "image image image" ". main ." ". footer ." ". realf .";
}


/***

 HEADING

 ***/

h1 {
    margin: 40px 30px;
    padding: 0.2em;
    font-family: 'Cantarell', sans-serif;
    color: navy;
    text-align: center;
    background-color: ivory;
    grid-area: header;
    border-style: double;
    border-color: navy;
    border-width: 3px;
    -webkit-box-shadow: 13px 11px 32px -11px rgba(0, 102, 255, 0.42);
    -moz-box-shadow: 13px 11px 32px -11px rgba(0, 102, 255, 0.42);
    box-shadow: 13px 11px 32px -11px rgba(0, 102, 255, 0.42);
    font-size: 50px;
}

h1:hover {
    transform: rotate(-3deg);
    background-color: navy;
    color: ivory;
    border-style: double;
    border-color: ivory;
    border-width: 3px;
}


/***

 IMAGE
 
 ***/

#img-div {
    grid-area: image;
}

img {
    width: 80%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 40%;
    -webkit-box-shadow: 13px 11px 32px -11px rgba(0, 102, 255, 0.42);
    -moz-box-shadow: 13px 11px 32px -11px rgba(0, 102, 255, 0.42);
    box-shadow: 13px 11px 32px -11px rgba(0, 102, 255, 0.42);
}

img:hover {
    transform: scale(1.05);
}

#img-caption {
    text-align: center;
    padding: 2px;
    margin: 50px;
    white-space: nowrap;
    font-family: 'Cantarell', sans-serif;
    font-size: 25px;
    color: navy;
    animation: animated-text 3s steps(45, end) 1s 1 normal both;
    background-color: ivory;
}

@keyframes animated-text {
    from {
        width: 10%;
    }
    to {
        width: 82%;
    }
}


/*smaller screens*/

@media (max-width:600px) {
    img {
        width: 20em;
        height: auto;
    }
    #img-caption {
        animation: none;
        font-size: 80%;
    }
}


/***

TRIBUTE

***/

#tribute-container {
    grid-area: main;
}

.tribute-txt {
    background-color: ivory;
    font-family: 'Cantarell', sans-serif;
    color: navy;
    padding: 20px 20px;
    text-align: justify;
    font-size: 18px;
}

.tribute-txt:hover,
#img-caption:hover {
    color: ivory;
    background-color: navy;
}


/***

LINK TO WEBSITE

***/

.footer {
    grid-area: footer;
}

.footer {
    background-color: ivory;
    color: navy;
    font-size: 18px;
    font-family: 'Cantarell', sans-serif;
}

.footer:hover {
    background-color: navy;
    color: ivory;
    transform: rotate(2deg);
}


/*** 

FOOTER

***/

.realf {
    grid-area: realf;
    background-color: ivory;
    color: navy;
    font-family: 'Cantarell', sans-serif;
}

.realf:hover {
    background-color: navy;
    color: ivory;
    transform: rotate(-2deg);
}

a {
    color: palevioletred;
}

a:visited {
    color: salmon;
}